html {
  -webkit-animation: fadein .3s;
  /* Safari, Chrome and Opera > 12.1 */
  animation: fadein .3s;
}

@keyframes fadein {
  from {
    opacity: 0.35;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header nav .container-fluid {
  margin-left: 50px;
}

header nav .container-fluid .nav-item {
  text-transform: uppercase;
}

header nav .container-fluid .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

header nav .container-fluid .disabled {
  visibility: hidden;
}

#head {
  font-size: 2rem;
}

#head .bg {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../../images/main_bg.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/main_bg.png");
}

#head .bg .text {
  padding-top: 140px;
  font-family: "Open sans", Helvetica, Arial;
  text-align: center;
  color: white;
  font-weight: 400;
  margin-bottom: 15px;
}

#head .bg .btn-info {
  display: block;
  text-align: center;
  cursor: pointer;
  text-shadow: none;
  background-color: black;
  color: #ccc;
  margin-bottom: 10px;
  padding: 15px 65px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  background-image: none;
  margin: auto;
}

#head .bg .btn-info:hover {
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  color: black;
  background-color: rgba(150, 203, 218, 0.8);
}

.main-container {
  padding-left: 50px;
  padding-right: 50px;
  width: 60%;
  padding-top: 150px;
  margin: auto;
}

.main-container .main-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.main-container .main-contents .brief-container {
  margin-left: 50px;
}

.main-container .main-contents .brief-container h1 {
  font-family: 'Times New Roman', Times, serif;
}

.main-container .main-contents .brief-container p {
  margin-top: 50px;
  font-size: 15pt;
  font-weight: 500;
  font-family: Times, Times New Roman, Georgia, serif;
}

.main-container .brief-ariticle {
  margin-top: 50px;
}

@media screen and (max-width: 1060px) {
  #head {
    font-size: 1.3rem;
  }
  #head .bg {
    width: 100%;
    height: 180px;
  }
  #head .bg .text {
    padding-top: 60px;
    font-family: "Open sans", Helvetica, Arial;
    text-align: center;
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .main-container {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main-container img {
    display: block;
    height: 300px;
    margin: 0px auto;
  }
  .main-container .main-contents {
    display: block;
  }
  .main-container .main-contents .brief-container {
    margin-top: 50px;
    margin-left: 0;
  }
  .main-container .main-contents .brief-container h2 {
    font-size: 20pt;
    display: block;
    margin: 0px auto;
    margin-top: 30px;
  }
  .main-container .main-contents .brief-container p {
    margin: 0;
    margin-top: 10px;
    font-size: 14pt;
    font-weight: 500;
    font-family: Times, Times New Roman, Georgia, serif;
  }
  .main-container .brief-ariticle h2 {
    font-size: 20pt;
    display: block;
    margin: 0px auto;
    margin-top: 30px;
  }
  .main-container .brief-ariticle p {
    margin: 0;
    margin-top: 10px;
    font-size: 14pt;
    font-weight: 500;
    font-family: Times, Times New Roman, Georgia, serif;
  }
}

@media screen and (max-width: 767px) {
  header nav .container-fluid {
    margin-left: 0px;
  }
  header nav .navbar-nav li {
    text-align: right;
  }
}
/*# sourceMappingURL=professor.css.map */