{% extends "layout.html" %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'src/scss/student.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"/>
{% endblock %}

{% block header %}
    <!-- header -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'main' %}">CAI LAB.</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'main' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">People</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                  <li><a class="dropdown-item" href="{% url 'professor' %}">Professor</a></li>
                  <li><a class="dropdown-item" href="{% url 'student' %}">student</a></li>
                  <li><a class="dropdown-item" href="{% url 'alumni' %}">alumni</a></li>
                </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'publications' %}">Publications</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'news' %}">news</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'library' %}">Board</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
{% endblock %}

{% block body %}
    <!-- head summary -->
    <div id="head">
        <div class="bg">
            <div>
                <h1 class="text">Student</h1>
            </div>
        </div>
    </div>

    <!-- main -->
    <div class="main-container">
      <article class="phd-candiates-contents">
        <div class="section-title-container">
          <h2 class="section-title">Ph.D. Candidates</h2>
          <hr>
        </div>
        <div class="row">
          {% if biographies %}
          {% for biography in biographies %}
          <div class="student-container col-lg-4">
              <a class="article-subject" href="{{ biography.get_absolute_url }}">
                <img class="bd-placeholder-img" width="184" height="240" src="{{biography.images.url}}" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
              </a>
            <div class="detail-top">
              <h3>{{biography.kr_name}}</h3>
              <h3>{{biography.eng_name}}</h3>
            </div>
            <div class="student-detail">
              <p>Interests
              </p>
              <li>
                {{biography.interest_first}}
              </li>
              <li>
                {{biography.interest_second}}
              </li>
              {% if biography.interest_third %}
              <li>
                {{biography.interest_third}}
              </li>
              {% endif %}
            </div>
            {% if biography.link_address %}
            <div class="link">
              <a class="github-link" href={{biography.link_address}}><i class="fab fa-github"></i></a>
            </div>
            {% endif %}
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </article>
  </div>
{% endblock %}